.idea/
*.iml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace

.history/
*.vsix
.history

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env*.local
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache

.vercel/
/test-results/
/playwright-report/
/playwright/.cache/
