@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@custom-variant dark (&:where(.dark, .dark *));
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import './theme.css';

/* Global variables */
:root {
  --coffee-view-transition-duration: 100ms;
}

/* Theme overrides */

* {
  -webkit-tap-highlight-color: transparent;
}

[data-theme='coffee'] h1,
[data-theme='coffee'] h2,
[data-theme='coffee'] h3,
[data-theme='coffee'] h4,
[data-theme='coffee'] h5,
[data-theme='coffee'] h6,
[data-theme='coffee'] a,
[data-theme='coffee'] button {
  font-weight: bold;
}

/* Mesh generator: https://csshero.org/mesher/ */
[data-theme='coffee'] {
  background-color: hsla(224, 20%, 88%, 1);
  background-image:
    radial-gradient(at 27% 15%, hsla(182, 96%, 18%, 0.3) 0px, transparent 50%),
    radial-gradient(at 17% 79%, hsla(16, 75%, 31%, 0.25) 0px, transparent 50%),
    radial-gradient(at 92% 6%, hsla(24, 85%, 37%, 0.25) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(128, 72%, 41%, 0.25) 0px, transparent 50%),
    radial-gradient(at 78% 49%, hsla(289, 96%, 62%, 0.15) 0px, transparent 50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark[data-theme='coffee'] {
  background-color: hsla(223, 73%, 16%, 1);
  background-image:
    radial-gradient(at 27% 15%, hsla(182, 96%, 18%, 0.3) 0px, transparent 50%),
    radial-gradient(at 17% 79%, hsla(16, 75%, 31%, 0.25) 0px, transparent 50%),
    radial-gradient(at 92% 6%, hsla(24, 85%, 37%, 0.25) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(128, 72%, 41%, 0.25) 0px, transparent 50%),
    radial-gradient(at 78% 49%, hsla(289, 96%, 62%, 0.15) 0px, transparent 50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Layout */

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--color-surface-50-950);
}

/* Autocomplete overrides */

.autocomplete-button {
  text-align: start;
}

/* Field group overrides */

.field-group.measurement-input {
  input {
    min-width: 10rem !important;
  }

  select,
  .label-text {
    min-width: 6rem !important;
  }
}

/* Table overrides */

.table {
  border-radius: var(--radius-base);
}

/* Custom design tokens */

@utility autocomplete-token {
  @apply card z-10 p-4 max-h-48 bg-surface-200-800 overflow-y-auto shadow-xl;
}

@utility chip-interactive-token {
  @apply chip preset-tonal-secondary hover:preset-filled-secondary-500;
}

@utility page-header-title {
  @apply h2 flex items-center overflow-hidden;

  span {
    @apply leading-[1.3] overflow-hidden text-ellipsis whitespace-nowrap;
  }
}

@utility page-with-actions-token {
  @apply mb-24;
}

@utility page-actions-token {
  @apply flex items-end gap-4 fixed z-10 bottom-8 right-8;
}

@utility popup-token {
  @apply card p-4 bg-surface-200-800 shadow-xl z-10;
}

@utility radio-group-token {
  @apply flex-col sm:flex-row sm:min-w-[24rem];
}

@utility input-error {
  border-color: var(--color-error-500);
  --tw-ring-color: var(--color-error-500);
}

/* View transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: var(--coffee-view-transition-duration);
  animation-timing-function: ease-out;
}
