/* Theme generator: https://www.skeleton.dev/docs/generator */
/* Color picker: https://www.colorhexa.com/d9a03e */

:root {
  /* =~= Theme Properties =~= */
  --theme-font-family-base: system-ui;
  --theme-font-family-heading: system-ui;
  --theme-font-color-base: var(--color-surface-900);
  --theme-font-color-dark: 255 255 255;
  --theme-rounded-base: 16px;
  --theme-rounded-container: 16px;
  --theme-border-base: 3px;
  /* =~= Theme On-X Colors =~= */
  --on-primary: 255 255 255;
  --on-secondary: 255 255 255;
  --on-tertiary: 255 255 255;
  --on-success: 0 0 0;
  --on-warning: 0 0 0;
  --on-error: 255 255 255;
  --on-surface: 255 255 255;
  /* =~= Theme Colors  =~= */
  /* primary | #016367 */
  --color-primary-50: 217 232 232; /* ⬅ #d9e8e8 */
  --color-primary-100: 204 224 225; /* ⬅ #cce0e1 */
  --color-primary-200: 192 216 217; /* ⬅ #c0d8d9 */
  --color-primary-300: 153 193 194; /* ⬅ #99c1c2 */
  --color-primary-400: 77 146 149; /* ⬅ #4d9295 */
  --color-primary-500: 1 99 103; /* ⬅ #016367 */
  --color-primary-600: 1 89 93; /* ⬅ #01595d */
  --color-primary-700: 1 74 77; /* ⬅ #014a4d */
  --color-primary-800: 1 59 62; /* ⬅ #013b3e */
  --color-primary-900: 0 49 50; /* ⬅ #003132 */
  /* secondary | #8e3412 */
  --color-secondary-50: 238 225 219; /* ⬅ #eee1db */
  --color-secondary-100: 232 214 208; /* ⬅ #e8d6d0 */
  --color-secondary-200: 227 204 196; /* ⬅ #e3ccc4 */
  --color-secondary-300: 210 174 160; /* ⬅ #d2aea0 */
  --color-secondary-400: 176 113 89; /* ⬅ #b07159 */
  --color-secondary-500: 142 52 18; /* ⬅ #8e3412 */
  --color-secondary-600: 128 47 16; /* ⬅ #802f10 */
  --color-secondary-700: 107 39 14; /* ⬅ #6b270e */
  --color-secondary-800: 85 31 11; /* ⬅ #551f0b */
  --color-secondary-900: 70 25 9; /* ⬅ #461909 */
  /* tertiary | #af500e */
  --color-tertiary-50: 243 229 219; /* ⬅ #f3e5db */
  --color-tertiary-100: 239 220 207; /* ⬅ #efdccf */
  --color-tertiary-200: 235 211 195; /* ⬅ #ebd3c3 */
  --color-tertiary-300: 223 185 159; /* ⬅ #dfb99f */
  --color-tertiary-400: 199 133 86; /* ⬅ #c78556 */
  --color-tertiary-500: 175 80 14; /* ⬅ #af500e */
  --color-tertiary-600: 158 72 13; /* ⬅ #9e480d */
  --color-tertiary-700: 131 60 11; /* ⬅ #833c0b */
  --color-tertiary-800: 105 48 8; /* ⬅ #693008 */
  --color-tertiary-900: 86 39 7; /* ⬅ #562707 */
  /* success | #1db834 */
  --color-success-50: 221 244 225; /* ⬅ #ddf4e1 */
  --color-success-100: 210 241 214; /* ⬅ #d2f1d6 */
  --color-success-200: 199 237 204; /* ⬅ #c7edcc */
  --color-success-300: 165 227 174; /* ⬅ #a5e3ae */
  --color-success-400: 97 205 113; /* ⬅ #61cd71 */
  --color-success-500: 29 184 52; /* ⬅ #1db834 */
  --color-success-600: 26 166 47; /* ⬅ #1aa62f */
  --color-success-700: 22 138 39; /* ⬅ #168a27 */
  --color-success-800: 17 110 31; /* ⬅ #116e1f */
  --color-success-900: 14 90 25; /* ⬅ #0e5a19 */
  /* warning | #EAB308 */
  --color-warning-50: 252 244 218; /* ⬅ #fcf4da */
  --color-warning-100: 251 240 206; /* ⬅ #fbf0ce */
  --color-warning-200: 250 236 193; /* ⬅ #faecc1 */
  --color-warning-300: 247 225 156; /* ⬅ #f7e19c */
  --color-warning-400: 240 202 82; /* ⬅ #f0ca52 */
  --color-warning-500: 234 179 8; /* ⬅ #EAB308 */
  --color-warning-600: 211 161 7; /* ⬅ #d3a107 */
  --color-warning-700: 176 134 6; /* ⬅ #b08606 */
  --color-warning-800: 140 107 5; /* ⬅ #8c6b05 */
  --color-warning-900: 115 88 4; /* ⬅ #735804 */
  /* error | #a51919 */
  --color-error-50: 242 221 221; /* ⬅ #f2dddd */
  --color-error-100: 237 209 209; /* ⬅ #edd1d1 */
  --color-error-200: 233 198 198; /* ⬅ #e9c6c6 */
  --color-error-300: 219 163 163; /* ⬅ #dba3a3 */
  --color-error-400: 192 94 94; /* ⬅ #c05e5e */
  --color-error-500: 165 25 25; /* ⬅ #a51919 */
  --color-error-600: 149 23 23; /* ⬅ #951717 */
  --color-error-700: 124 19 19; /* ⬅ #7c1313 */
  --color-error-800: 99 15 15; /* ⬅ #630f0f */
  --color-error-900: 81 12 12; /* ⬅ #510c0c */
  /* surface | #0e255e */
  --color-surface-50: 219 222 231; /* ⬅ #dbdee7 */
  --color-surface-100: 207 211 223; /* ⬅ #cfd3df */
  --color-surface-200: 195 201 215; /* ⬅ #c3c9d7 */
  --color-surface-300: 159 168 191; /* ⬅ #9fa8bf */
  --color-surface-400: 86 102 142; /* ⬅ #56668e */
  --color-surface-500: 14 37 94; /* ⬅ #0e255e */
  --color-surface-600: 13 33 85; /* ⬅ #0d2155 */
  --color-surface-700: 11 28 71; /* ⬅ #0b1c47 */
  --color-surface-800: 8 22 56; /* ⬅ #081638 */
  --color-surface-900: 7 18 46; /* ⬅ #07122e */
}

[data-theme='coffee'] h2,
[data-theme='coffee'] h1,
[data-theme='coffee'] h3,
[data-theme='coffee'] h4,
[data-theme='coffee'] h5,
[data-theme='coffee'] h6,
[data-theme='coffee'] a,
[data-theme='coffee'] button {
  font-weight: bold;
}

/* Mesh generator: https://csshero.org/mesher/ */
[data-theme='coffee'] {
  background-color: hsla(224, 20%, 88%, 1);
  background-image: radial-gradient(at 27% 15%, hsla(182, 96%, 18%, 0.3) 0px, transparent 50%),
    radial-gradient(at 17% 79%, hsla(16, 75%, 31%, 0.25) 0px, transparent 50%),
    radial-gradient(at 92% 6%, hsla(24, 85%, 37%, 0.25) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(128, 72%, 41%, 0.25) 0px, transparent 50%),
    radial-gradient(at 78% 49%, hsla(289, 96%, 62%, 0.15) 0px, transparent 50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark [data-theme='coffee'] {
  background-color: hsla(223, 73%, 16%, 1);
  background-image: radial-gradient(at 27% 15%, hsla(182, 96%, 18%, 0.3) 0px, transparent 50%),
    radial-gradient(at 17% 79%, hsla(16, 75%, 31%, 0.25) 0px, transparent 50%),
    radial-gradient(at 92% 6%, hsla(24, 85%, 37%, 0.25) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(128, 72%, 41%, 0.25) 0px, transparent 50%),
    radial-gradient(at 78% 49%, hsla(289, 96%, 62%, 0.15) 0px, transparent 50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
