name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    name: check
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Setup Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version-file: package.json
      - name: Setup pnpm
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
      - name: Install dependencies
        run: pnpm install
      - name: Run linter
        run: pnpm lint
      - name: Run type checking
        run: pnpm check
      - name: Run unit tests
        run: pnpm test:unit
  release:
    name: release
    needs: check
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'push' }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version-file: package.json
      - name: Setup pnpm
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
      - name: Install dependencies
        run: pnpm install
      - name: Configure commit signing
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_SIGNING_KEY" > ~/.ssh/id_ed25519
          echo "$SSH_SIGNING_KEY_PUBLIC" > ~/.ssh/id_ed25519.pub
          chmod 600 ~/.ssh/id_ed25519 ~/.ssh/id_ed25519.pub
          git config --global gpg.format ssh
          git config --global user.signingkey ~/.ssh/id_ed25519.pub
          git config --global commit.gpgsign true
        env:
          SSH_SIGNING_KEY: ${{ secrets.SSH_SIGNING_KEY }}
          SSH_SIGNING_KEY_PUBLIC: ${{ secrets.SSH_SIGNING_KEY_PUBLIC }}
      - name: Create release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_EMAIL }}
